/* 
    Created on : Jun 1, 2018, 1:18:08 PM
    Author     : Itzhak
*/
html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(../Green-School-Board-Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -58px;
}

header.banner-wrapper{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #dca164;
}
div.banner{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0.5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0.5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0.5px 10px 0px rgba(0,0,0,0.75);

}
.bannerLeft{
    display: flex;
    flex-flow: row;
}
.bannerRight{

}
.schoolLogo{
    height: 50px;
    width: 70px;
    margin-left: 10px;
    margin-top: 5px;
    background-image: url(../schoolLogo.png);
    background-size: 50px;
    background-repeat: no-repeat;
}
.schoolLink{
    margin-top: 5px;
    height: 40px;
    width: 73px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.schoolLink a{
    color: #000;
    text-decoration: none;
}
.adminLink{
    margin-top: 10px;
    margin-left: 10px;
}
.adminLink a{
    color: #000;
    text-decoration: none;
}
.loginHeading{
    text-align: center;
}
.loginForm{
    display: grid;
    justify-content: center;
}
form.loginForm input:last-child{
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    background-color: #f7b11b
}

form.loginForm input:last-child:active{
    background-color: #ca8a00

}
.mainContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-image: url(../green-chalkboard.jpg); */
}

.leftContainer-wrapper{
    height: 85vh;
    border-right: 1px solid black;
    /*grid-column: ;*/
}

.leftContainer{
    display: grid;
    height: inherit;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 19px; */
}

.coursesWrapper, .studentsWrapper{
    width:230px;
    height: inherit;
}

.coursesWrapper{
    border-right: #000 solid 1px;
}

.coursesHeader, .studentsHeader{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow:inset 0 -1px 0px 0 rgba(0,0,0,0.75);
}

.studentsList, .courseList, .adminList{
    overflow-y: auto;
    height: 86%;
}

.courseInfo{
    display: flex;
    grid-column: 2/ span 2;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

.courseInfo img, .studentInfoContainer img, .adminInfo img{
    height: 140px;
    width: 250px;
    margin: 0 auto;
}

.showAllStudents, .studentsCourses{
    height: 20vh;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-y: auto;
}
.showAllStudents div img, .studentsCourses div img{
    height: 60px;
    width: 50px;
}

.coursesContainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
.infoContainer{
    display: flex;
    grid-column: 2/ span 2;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.infoContainer h2{
    position: relative;
    top: -70px;
    margin: 0 auto;
}

.infoContainer p {
    margin: 0 auto;
}
.addCourse, .addStudent, .addAdmin{
    margin-top: 20px;
    height: 23px;
    background-color: #f7b11b;
}

.add{
    text-decoration: none;
    color: #000;
}

.studentInfo{
    grid-column: 2/ span 2;
}

.studentInfoContainer{
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}

.studentInfoContainer div a{
    text-decoration: none;
    color: #f7b11b;
}

.studentInfoContainer div a:hover{
    opacity: 0.5;
}

.adminsInfoWrapper{
    display: flex;
    grid-column: 2/ span 2;
    justify-content: center;
    padding: 20px;
}

.infoContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.adminInfo{
    grid-column: 2/ span 2;
    text-align: center;
    font-size: 2em;
    padding-top: 30px;

}

.adminInfo div a{
    text-decoration: none;
    color: #f7b11b;
}

.rightContainer-wrapper{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 25% 50% 25%;
    height: 90vh;
    grid-column: 2/ span 2;
}

.rightContainer{
    font-size: 1.3em;
    grid-column: 2 /span 3;
    grid-row: 2;
}

form.editForm, form.editCourseForm {
    display: flex;
    flex-direction: column;
}

form.editAdminForm{
    display: grid;
    grid-template-columns: 27% 34% 10%;
    grid-row-gap: 10px;
}

form.editForm input[type="submit" i], form.editAdminForm input[type="submit" i]{
    width: 60px;
}

.btnContainer{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

li{
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: none;
}

li a{
    color: #000;
    text-decoration: none;
}

li:hover{
    background-color: rgb(209, 209, 209);
}

img{
    height: 50px;
    width: 50px;
}

.leftAdminWrapper{
    height: 85vh;
    border-right: 1px solid black;
}

.leftAdminContainer{
    height: 100%;
}

.adminHeader{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: inset 0 -1px 0px 0 rgba(0,0,0,0.75);
}

.footerWrapper{
    display: grid;
    position: absolute;
    background-color: #dca164;
    bottom: 0;
    width: 100%;
    justify-content: center;
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.60);
    box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.60);
}