/* 
    Created on : Jun 1, 2018, 1:18:08 PM
    Author     : Itzhak
*/
html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

header.banner-wrapper{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #66ffcc;
}
div.banner{
    width: 100%;
    height: 100%;
    margin: 0 10px 0 10px;
    border: solid 1px #006666;
    background-color: #66ffcc;
    border-radius: 20px;
}
div.banner h1{
    margin-top: 5px;
}
.mainContent{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
.leftContainer-wrapper{
    display: grid;
    height: 100vh;
    width: auto;
    border: 1px solid black;
    /*grid-column: ;*/
}
.rightContainer-wrapper{
    display: grid;
    height: 100vh;
    width: auto;
    border: 1px solid black;
    /*grid-column: ;*/
}